.coursesBankBox{
    width: 95%;
   height: 100%;
   background: #FFFFFF;
   margin: 20px auto;

   
}
.coursesBankHead{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.coursesBankTitle{
    width: 117px;
    margin: 20px 80px 10px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: 700;
}
.BankSeletBox{
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-left: 5%;
    /* background: #FAFAFA;
    border-top: 2px solid #F0F0F0; */
    border-bottom: 2px solid #F0F0F0;
}
.left-Select{
    width: 17%;
    margin-left: 20px;
}
.table-Bank{
    width: 85%;
    margin-left: 5%;
}
.bank-button{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-items: flex-start;
    margin-left: 2%;
    margin-top: 10px;
  }
  .bk-butten{
    margin-top: 5px;
  }