<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ff.dao.ChapterMapper">
	<resultMap id="chapterMap" type="com.ff.pojo.Chapter">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="courseId" property="courseId" />
		<result column="cOrder" property="cOrder" />
	</resultMap>


	<resultMap id="mapChain" type="com.ff.pojo.Chapter">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="corder" property="order" />
		<collection property="list" javaType="ArrayList"
			ofType="com.ff.pojo.Video" column="id"
			select="com.ff.dao.VideoMapper.getVideosByChapterId">
		</collection>
	</resultMap>
	<select id="getChaptersByCourseId" resultMap="chapterMap">
		select *from
		chapter
		where course_id = #{id} order by c_order
	</select>


	<insert id="insert" parameterType="com.ff.pojo.Chapter"
		keyProperty="id" useGeneratedKeys="true">
		insert into
		chapters(name,coursesId,c_order)
		values(#{name},#{coursesId},#{order})
	</insert>


	<!-- 查询所有科目 -->
	<select id="getAllChapter" resultMap="chapterMap">
		select * from course
	</select>

	<!-- 根据姓名查询数据 -->
	<select id="selectByName" resultMap="chapterMap">
		select * from chapters where
		name = #{name}
	</select>




</mapper>