<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ff.dao.CourseMapper">
	<resultMap id="courseMap" type="com.ff.pojo.Course">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<collection property="list" javaType="ArrayList"
			ofType="com.ff.pojo.Chapter" column="id"
			select="com.ff.dao.ChapterMapper.getChaptersByCourseId">
		</collection>
	</resultMap>
	
	<resultMap id="courses" type="com.ff.pojo.Course">
		<id column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>

	<select id="getCoursesByTopicId" resultMap="courses">
		select *
		from course
		where topicId = #{topicId}
	</select>


	<insert id="insert" parameterType="com.ff.pojo.Course"
		keyProperty="id" useGeneratedKeys="true">
		insert into course
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="discountPrice != null">
				discountPrice,
			</if>
			<if test="introduce != null">
				introduce,
			</if>
			<if test="imageUrl != null">
				imageUrl,
			</if>
			<if test="topicId != null">
				topicId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="discountPrice != null">
				#{discountPrice},
			</if>
			<if test="introduce != null">
				#{introduce},
			</if>
			<if test="imageUrl != null">
				#{imageUrl},
			</if>
			<if test="topicId != null">
				#{topicId},
			</if>
		</trim>
	</insert>



	<!-- 查询所有课程 -->
	<select id="getAllCourse" resultMap="courseMap">
		select * from course
	</select>


	<!-- 查询所有课程 -->
	<select id="getCourseByName" resultMap="courseMap">
		select * from course
		where name = #{name}
	</select>

</mapper>