*{
  padding: 0px;
  margin: 0px;
}
.addView{
  width: 100%;
  height: 100%;

  
}
.opacity{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  display: none;
  z-index: 2;
  position: absolute;
}
.box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e8e8e8;
  
}
.pageHeader{
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 2px solid gainsboro;
  margin:20px 0px 30px 0px;
}
.header_left{
  font-size: 18px;
}
.header_right{
  height: 32px;
  border-radius: 3px;
  background-color: transparent;
  position: absolute;
  right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  width: 90px;
  background: green;
}


.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 500px;
  width: 90%;
  
}
.intro_title{
  display: flex;
  justify-content: space-between;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.addForm{
  width: 40%;
  height: 70%;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 1 !important;
  padding: 10px 20px 5px 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  

  border-radius: 4px;
}
.addForm h1{
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  
}

.cancleBox{
  width: 100%;
  text-align: right;
}
.ant-list-split .ant-list-item {
  border-bottom: none;
}
.flex{
  display: flex;
  
}

.input{
  width: 70%;
}
.uploadImg{
  display: flex;
  padding-top: 10px;
  
}
.button{
  display: flex;
  justify-content: center;
 
}
.button Button{
margin-left: 10px;
}