.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    width: 90%;
}
.title1{
    width: 90%;
    height: 40px;
    font-size: 18px;
    color: rgb(17, 17, 16);
    border-bottom: 2px solid gainsboro;
    margin:20px 0px 10px 0px;

}

