.courseTestBox{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 700px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testHeader{
    width: 97%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
}
.testTitle{
    font-size: 20px;
    color: #595959;
}
.createBox{
    width: 80%;
    height: 100%;
    /* background: orange; */
    display: flex;
    flex-direction: column;
}
.testNameBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    font-weight: 600;
}
.testNameBox>span{
    color: #FFA51F;
    margin-right: 5px;
}
.testNameBox>Input{
    width: 60%;
    margin-left: 20px;
}
.testExplainBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: 600;
}
.shop{
    width: 60%;
    margin-left: 20px;
}
.testRangeBox{
    width: 65%;
    display: flex;
    align-items: center;
    margin: 20px auto;
    font-weight: 600;
}
.testRangeBox>span{
    margin-right: 20px;
}
.testSetUpBox{
    width:67%;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.testSetUpBox>span{
    color: #FFA51F;
    margin-right: 5px;
}
.setUpRight{
    width: 80%;
    margin-left: 20px;
}
.single{
    margin-left: 20px;
    margin-right: 30px;
}
.testScore{
    margin-left: 30px;
}
.keepBtn{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}
.keepBtn>span{
    margin-left: 10px;
}