.siderBox {
    display: flex;
    flex-direction: column;
    background: white;
}

.headView {
    width: 100%;
    height: 10%;
    background-color: #2f333e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sider {
    height: 100%;
}