.coursesAdd {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 89.5%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coursesSelect{
    width: 100%;
    height: 70px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.coursesSelect>span{
    height: 100%;
    line-height: 70px;
    margin-right: 40px;
    position: relative;
}
.Selected{
    width: 100%;
    height: 3px;
    background-color: #43BB60;
    position: absolute;
    bottom: 0;
    left: 0;
}
.addCourseList{
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.addCourseTitle{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #F0F0F0;
}
.ant-btn{
    border:none;
}
.ant-btn:hover{
    border:none;
}
.addCourseBox{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.addCourseBox>label{
    width: 20%;
    text-align: right;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0px 20px;
}
.addCourseBox>input, .addCourseBox>div{
    width: 80%;
}

