.coursesAdd {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs{
    width: 100%;
    height: 100%;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #545456;
    font-weight: 500;
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #545456;
}