.teacherQueryView {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teacherQueryBox{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.teacherQueryBox>img{
    width: 78px;
    height: 78px;
}
.teacherShow{
    width: 100%;
    font-size: 20px;
}
.showQuery{
    width: 100%;
    height: 50px;
    background: white;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}
.showQuery>img{
    width: 50px;
    height: 50px;
    border-radius:25px;
    margin-right: 40px;
}
.showQuery>img+div{
    margin-right: 40px;
}